@charset "utf-8";

/* CSS Document */

.page-archive-list .dataTables-sidebar tr {
    display: table;
    width: 100%;
    min-width: initial;
}

.page-archive-list .dataTables-sidebar tr th {
    vertical-align: top;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.page-archive-list .dataTables-sidebar tr td {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.page-archive-list .dataTables-sidebar tr th p {
    /*line-height: 1.15;*/
}

.page-archive-list table.dataTable th p span.dtfullname {
    font-size: 1rem;
    white-space: normal !important;
}

.page-archive-list .dataTables-sidebar tr th span.dtmobilename {
    display: none;
}

.page-archive-list .dataTables-sidebar tbody {
    /*margin-top: 16px;*/
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(1),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(1) {
    /* bank name */
    width: 20%;
    min-width: 0;
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(2),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(2) {
    /* city */
    width: 14%;
    min-width: 0;
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(3),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(3) {
    /* state */
    width: 9%;
    min-width: 0;
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(4),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(4) {
    /* cert */
    width: 8%;
    min-width: 0;
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(5),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(5) {
    /* acquiring institution */
    width: 22%;
    min-width: 0;
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(6),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(6) {
    /* closing date */
    width: 18%;
    min-width: 0;
}

.page-archive-list .dataTables-sidebar tr th:nth-of-type(7),
.page-archive-list .dataTables-sidebar tr td:nth-of-type(7) {
    /* fund */
    width: 9%;
    min-width: 0;
}

.dataTables-content-header {
    height: 50px;
}

@media (max-width: 1023px) {
    table.dataTable.dataTables-sidebar {
        width: 100%;
    }
    .page-archive-list .dataTables-sidebar tr th span.dtmobilename {
        display: inline;
        font-size: 12px;
    }
    .page-archive-list .dataTables-sidebar tr th span.dtfullname {
        display: none;
    }
    .page-archive-list .dataTables-sidebar tr th {
        font-size: 12px;
    }
    .page-archive-list .dataTables-sidebar tbody.dataTables-content-main td {
        padding: 0.2rem;
        word-break: break-word;
    }
}


/* tr.odd td {
	background-color:#F0F0F6;
} */

a.paginate_button,
.paginate_button,
.paginate_button:visited {
    /* to squeeze the pagination in place, we need to override the pagination in custom.css. TH 4/22/21 */
    padding: 0 4px;
    margin: 0 4px;
}

.sorting p:after,
.sorting_asc p:after,
.sorting_desc p:after {
    width: 21px !important;
}